body{
    background-color:#04a6eb;
    color: #ffffff;
    width: 500px;
    margin-right: auto;
    margin-left: 10px;
}
button{
    padding: 7px 20px;
    border-style: none;
    background-color: #ffffff;
}

input{
    height: 24px
}